<div class="jumbotron">
  <h1>Hello, Welcome to my Recipe App</h1>
  <p>This is a developer course from udemy</p>
  <p><%= link_to "Sign Up Now", '', class: 'btn btn-primary btn-lg' %>
      
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="row">
  <div class="col-md-4">
      <h3>View Recipe as guest</h3>
      <p>View reciepe as guest user and signup later</p>
      <%= link_to "Browse Recipe Listing", '', class: 'btn btn-success' %>
  </div>
  <div class="col-md-4">
      <h3>View Recipe as guest</h3>
      <p>View reciepe as guest user and signup later</p>
      <%= link_to "Browse Recipe Listing", '', class: 'btn btn-success' %>
  </div>
  <div class="col-md-4">
      <h3>View Recipe as guest</h3>
      <p>View reciepe as guest user and signup later</p>
      <%= link_to "Browse Recipe Listing", '', class: 'btn btn-success' %>
  </div>
</div>